<template>
  <PCard class="login-wrapper login-form">
    <template #title>
      <img src="@/assets/beleaf-logo.svg" alt="" />
    </template>
    <PCardSection>
      <h4 class="login-title mt-30">ENTRAR</h4>
    </PCardSection>

    <PCardSection>
      <PFormLayout>
        <PTextField id="login-form-email" type="email" label="E-mail" />

        <router-link to="/recuperarSenha" class="forgot-link">
          Esqueceu a senha?</router-link
        >
        <PTextField id="login-form-password" label="Password" type="password" />
      </PFormLayout>
    </PCardSection>

    <PCardSection>
      <PButton primary class="form-button">Continuar</PButton>
    </PCardSection>
  </PCard>
</template>

<script>
export default {
  name: "LoginForm",
};
</script>

<style lang="scss">
.login-wrapper {
  position: absolute;
  width: 368px;
  height: 396px;
  left: 145px;
  top: 252px;

  background: #ffffff;
  border-radius: 10px;
}

.login-form {
  padding: 20px;
}

.login-title {
  font-family: Brandon Text;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 32px;
  text-transform: uppercase;

  color: #000000;
}

.Polaris-Card__Section {
  border-top: 0px !important;
  padding-top: 0px;
}

.forgot-link {
  float: right;
  font-family: Aspira;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  color: #97aebc;

  text-decoration: none;
}

.form-button {
  span {
    font-family: Brandon Text;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;

    text-align: center;
    text-transform: uppercase;

    color: #202223;
  }
}
</style>
