<template>
  <div class="Polaris-TopBar-Menu__ActivatorWrapper">
    <PPopover
      id="items-status-filter"
      :active="statusFilterActive"
      @close="toggleStatusFilter"
    >
      <div
        class="profile-dropdown-button"
        slot="activator"
        @click="toggleStatusFilter"
      >
        <PAvatar size="medium" />
        <h4 class="profile-dropdown-username">Eder Paes</h4>
      </div>
      <div class="profile-dropdown-content" slot="content">
        <PStack class="dropdown-options" alignment="center" slot="content">
          <PStackItem class="dropdown-item">
            <div class="flex" @click.prevent="$router.push('/perfil')">
              <PIcon source="ProfileMajorTwotone" color="white" />
              <h5 class="dropdown-item-name mb-16px">Gerenciar conta</h5>
            </div>
          </PStackItem>
          <PStackItem class="dropdown-item">
            <div class="flex" @click.prevent="logout()">
              <PIcon source="LogOutMinor" color="white" />
              <h5 class="dropdown-item-name">Sair</h5>
            </div>
          </PStackItem>
        </PStack>
      </div>

      />
    </PPopover>
  </div>
</template>

<script>
export default {
  name: "NavBarUserMenu",
  data() {
    return {
      statusFilterActive: false,
      queryParams: {
        page: null,
        search: null,
        ratings: [],
        statuses: [],
        id: null,
      },
    };
  },
  methods: {
    toggleStatusFilter() {
      this.statusFilterActive = !this.statusFilterActive;
    },
    logout() {
      this.$store.dispatch("auth/logout");
    },
  },
};
</script>

<style lang="scss">
.profile-dropdown-button {
  display: flex !important;
  align-items: center !important;
  padding: 4px 8px !important;

  width: 177px !important;
  height: 40px !important;
  right: 8px !important;
  top: calc(50% - 40px / 2) !important;

  border-radius: 4px !important;
}
.profile-dropdown-username {
  width: 120px !important;
  height: 20px !important;
  left: calc(50% - 120px / 2 + 20.5px) !important;
  top: 10px !important;

  font-family: Aspira !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 15px !important;
  line-height: 20px !important;
  color: #202223 !important;

  margin: 0px 8px !important;
}

.dropdown-options {
  display: flex !important;
  flex-direction: column !important;
  align-items: baseline !important;
  align-content: space-between !important;
  padding: 16px !important;
  margin-top: 0px !important;
  margin-left: 0px !important;

  width: 180px !important;

  background: #202223 !important;
  border-radius: 5px !important;

  color: white !important;
}

.dropdown-item-name {
  margin-left: 16px !important;
}

.dropdown-item {
  margin-top: 0px !important;
  margin-left: 0px !important;
}

.flex {
  display: flex !important;
}

.mb-16px {
  margin-bottom: 16px !important;
}

.Polaris-Icon {
  margin: 0 !important;
}

.Polaris-PositionedOverlay {
  left: calc(100% - 196px) !important;
  top: calc(100% + 3px) !important;
}
</style>
