<template>
  <div class="Polaris-Frame__TopBar" id="TopBarConfirmation">
    <div class="Polaris-TopBar">
      <div class="Polaris-TopBar__LogoContainer">
        <img src="@/assets/beleaf-logo.svg" alt="be leaft logo" />
      </div>
      <div class="Polaris-TopBar__Contents">
        <PButtonGroup>
          <PButton outline>Cancelar</PButton>
          <PButton primary>Salvar</PButton>
        </PButtonGroup>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "NavBarConfirmation",
};
</script>

<style lang="scss">
.Polaris-TopBar {
  padding: 32px;
  background-color: #202123;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2), 0px 2px 10px rgba(0, 0, 0, 0.1);
}
</style>
