<template>
  <div class="Polaris-Frame__TopBar" id="AppFrameTopBar">
    <div class="Polaris-TopBar" :class="navBarMode">
      <div class="Polaris-TopBar__LogoContainer">
        <img src="@/assets/beleaf-logo.svg" alt="be leaf logo" />
      </div>
      <div class="Polaris-TopBar__Contents" v-if="$store.state.ui.editingForm">
        <div class="Polaris-TopBar__SearchField">
          <div class="Polaris-TopBar-SearchField Editing-Form-Label">
            Alterações não salvas
          </div>
        </div>
      </div>
      <div class="Polaris-TopBar__Contents">
        <PButtonGroup v-if="$store.state.ui.editingForm">
          <PButton outline class="Editing-Cancel-Button">Cancelar</PButton>
          <PButton primary>Salvar</PButton>
        </PButtonGroup>
        <NavBarUserMenu v-else />
      </div>
    </div>
  </div>
</template>

<script>
import NavBarUserMenu from "./NavBarUserMenu";

export default {
  name: "NavBar",
  components: { NavBarUserMenu },
  computed: {
    navBarMode() {
      return this.$store.state.ui.editingForm
        ? "Polaris-TopBar-Black"
        : "Polaris-TopBar-White";
    },
  },
};
</script>

<style>
.Polaris-TopBar-White {
  background-color: white;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05), 0px 0px 1px rgba(0, 0, 0, 0.25);
}

.Polaris-TopBar-Black {
  padding: 32px;
  background-color: #202123;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2), 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.Editing-Form-Label {
  font-family: Aspira;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;

  color: #e3e5e7;
}

.Editing-Cancel-Button {
  font-family: Brandon Text;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}
</style>
