<template>
  <li class="Polaris-Navigation__ListItem">
    <div class="Polaris-Navigation__ItemWrapper">
      <router-link
        class="Polaris-Navigation__Item"
        :to="url"
        active-class="Polaris-Navigation__Item--selected"
      >
        <div class="Polaris-Navigation__Icon">
          <PIcon :source="icon" color="red" />
        </div>
        <span class="Polaris-Navigation__Text">{{ label }}</span>
      </router-link>
    </div>
  </li>
</template>

<script>
export default {
  name: "NavigationSection",
  props: {
    url: { type: String, default: "/" },
    label: { type: String, default: "" },
    icon: { type: String, default: "" },
  },
};
</script>

<style></style>
