<template>
  <div class="sidebar-position">
    <nav class="Polaris-Navigation">
      <div
        class="
          Polaris-Navigation__PrimaryNavigation
          Polaris-Scrollable Polaris-Scrollable--vertical
        "
        data-polaris-scrollable="true"
      >
        <ul class="Polaris-Navigation__Section">
          <NavigationSection
            v-for="(item, index) in navigationItems"
            :key="index"
            :url="item.url"
            :label="item.label"
            :icon="item.icon"
          />

          <NavigationSection
            class="settings-section"
            url="/configuracoes/conta"
            label="Configurações"
            icon="SettingsMajorTwotone"
          />
        </ul>
      </div>
    </nav>
  </div>
</template>

<script>
import NavigationSection from "./NavigationSection";
export default {
  name: "Navigation",
  components: { NavigationSection },
  data() {
    return {
      navigationItems: [
        { url: "/painel", icon: "HomeMajorTwotone", label: "Painel" },
        { url: "/pedidos", icon: "OrdersMajorTwotone", label: "Pedidos" },
        { url: "/logistica", icon: "ShipmentMajorTwotone", label: "Logítica" },
        { url: "/produtos", icon: "ProductsMajorTwotone", label: "Produtos" },
        { url: "/clientes", icon: "CustomersMajorTwotone", label: "Clientes" },
        { url: "/vitrine", icon: "ThemesMajorTwotone", label: "Vitrine" },
      ],
    };
  },
};
</script>

<style lang="scss">
.sidebar-position {
  position: fixed;
  width: 240px;
  height: 100vh;
  left: 0px;
  top: 56px;

  background-color: #ffffff;
  box-shadow: inset -1px 0px 0px #e4e5e7;
}

.settings-section {
  width: 100%;
  bottom: 45px;
  position: absolute;
}

.Polaris-Navigation {
  background-color: white;
}
</style>
