$login-background-color: #d5e08b;

// Geral
$black: #000;
$white: #fff;
$light-grey: #f7f7f7;
$light-grey-inactive: #cfd0d1;
$dark-grey: #2d2d2d;
$light-border-grey: #e6e6e8;
$soft-grey: #f8f8f8;
$grey-base: #afb0b2;
$dark-grey-2: #232324;
$thin-grey: #dfdfe0;
$blue: #2a55d9;
