<template>
  <div>
    <PPage
      separator
      title="Gerenciar conta"
      :breadcrumbs="[{ content: 'Painel', url: '/painel' }]"
    >
      <PLayout sectioned>
        <PLayoutAnnotatedSection title="Detalhes">
          <PCard>
            <PCardSection class="card-section-header">
              <PAvatar size="small" class="mr-16px" />
              <PButtonGroup>
                <PButton>Enviar Foto</PButton>
                <PButton>Remover Foto</PButton>
              </PButtonGroup>
            </PCardSection>
            <PCardSection>
              <PFormLayout>
                <PFormLayoutGroup condensed>
                  <PTextField
                    label="Nome"
                    type="text"
                    v-model="user.name"
                    id="inputName"
                  />
                  <PTextField
                    label="Sobrenome"
                    type="text"
                    v-model="user.last_name"
                    id="inputLastName"
                  />
                </PFormLayoutGroup>
                <PFormLayoutGroup condensed>
                  <PTextField
                    label="Email"
                    type="email"
                    v-model="user.email"
                    id="inputEmail"
                  />
                  <PTextField
                    label="Telefone (opcional)"
                    type="tel"
                    v-model="user.phone_number"
                    id="inputPhoneNumber"
                  />
                </PFormLayoutGroup>
              </PFormLayout>
            </PCardSection>
          </PCard>
        </PLayoutAnnotatedSection>
      </PLayout>

      <PLayout sectioned>
        <PLayoutAnnotatedSection title="Senha">
          <PCard>
            <PCardSection>
              <PFormLayout>
                <PFormLayoutGroup condensed>
                  <PTextField
                    label="Senha atual"
                    type="password"
                    v-model="user.current_password"
                    id="inputCurrentPassword"
                  />
                </PFormLayoutGroup>
                <PFormLayoutGroup condensed>
                  <PTextField
                    label="Nova senha"
                    type="password"
                    v-model="user.new_password"
                    id="inputNewPassword"
                  />
                  <PTextField
                    label="Repita a senha"
                    type="password"
                    v-model="user.new_password_confirmation"
                    id="inputNewPasswordConfirmation"
                  />
                </PFormLayoutGroup>
              </PFormLayout>
            </PCardSection>
          </PCard>
        </PLayoutAnnotatedSection>
      </PLayout>
    </PPage>
  </div>
</template>

<script>
export default {
  name: "Settings",
  data() {
    return {
      edited: false,
      user: {
        name: "Eder",
        last_name: "Paes",
        email: "eder@beleaf.com.br",
        phone_number: "(11) 94598-2002",
        current_password: "",
        new_password: "",
        new_password_confirmation: "",
      },
      userAuxiliary: {
        name: "Eder",
        last_name: "Paes",
        email: "eder@beleaf.com.br",
        phone_number: "(11) 94598-2002",
        current_password: "",
        new_password: "",
        new_password_confirmation: "",
      },
    };
  },
  methods: {},
  watch: {
    user: {
      deep: true,
      handler(val) {
        this.$store.dispatch("ui/editingForm", false);
        Object.keys(val).filter((key) => {
          if (this.user[key] != this.userAuxiliary[key])
            this.$store.dispatch("ui/editingForm", true);
        });
      },
    },
  },
};
</script>

<style lang="scss">
.Polaris-Layout__AnnotatedSection {
  margin-left: 0px;
}
.card-section-header {
  display: flex;
}

.mr-16px {
  margin-right: 16px;
}
</style>
