<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
export default {
  name: "App",
};
</script>
<style lang="scss">
@import "./components/scss/variables.scss";
@import "./components/scss/helpers.scss";

@import "./assets/polaris-scss/polaris";
</style>
