<template>
  <div class="Polaris-Frame Polaris-Frame--hasNav Polaris-Frame--hasTopBar">
    <NavBar />
    <Navigation />
    <main class="Polaris-Frame__Main" id="AppFrameMain">
      <div class="Polaris-Frame__Content">
        <router-view />
      </div>
    </main>
  </div>
</template>

<script>
import NavBar from "./components/NavBar";
import Navigation from "./components/Navigation";

export default {
  name: "AdminLayout",
  components: { NavBar, Navigation },
  computed: {
    editingForm() {
      return this.$store.state.ui.editingForm;
    },
  },
};
</script>

<style>
html,
body {
  margin: 0;
}

.admin-background {
  height: 100vh;
  width: 100vw;
}
</style>
