<template>
  <div class="login-background">
    <router-view />
  </div>
</template>

<script>
export default {
  name: "AuthLayout",
};
</script>

<style>
html,
body {
  margin: 0;
}

.login-background {
  height: 100vh;
  width: 100vw;

  background: #d5e08b;
}
</style>
